<footer class="w-full h-fit p-5 bg-[#113E21] text-white">
    <div class="mx-auto w-full max-w-[1920px] flex flex-col md:flex-row items-center justify-center md:justify-around gap-5">
        <div class="text-center">
            <span class="font-bold">Django-Vet</span>
            <br>
            <span class="text-[#b38b59]">Pet clinic</span>
        </div>

        <div class="w-full md:w-fit flex flex-wrap justify-around items-start gap-5">
            <div>
                <h4 class="text-xl font-bold">About</h4>
                <ul class="font-['Montserrat']">
                    <li>About us</li>
                    <li>Contact</li>
                </ul>
            </div>
    
            <div>
                <h4 class="text-xl font-bold">Store</h4>
                <ul class="font-['Montserrat']">
                    <li>Toys</li>
                    <li>Food</li>
                    <li>Clothing</li>
                </ul>
            </div>

            <div>
                <h4 class="text-xl font-bold">Services</h4>
                <ul class="font-['Montserrat']">
                    <li>Clinic</li>
                    <li>Health Care</li>
                    <li>Care</li>
                </ul>
            </div>

            <div>
                <h4 class="text-xl font-bold">Adoption</h4>
                <ul class="font-['Montserrat']">
                    <li>Meet a friend</li>
                    <li>Schedule</li>
                </ul>
            </div>
        </div>
    </div>
</footer>