<header>
    <nav class="flex flex-wrap flex-col justify-center items-center mx-auto w-full max-w-[1920px] md:flex-row md:justify-around">
        

        <div class="flex justify-around w-full md:w-fit">
            <a href={% url 'home_index' %}>
                <img id="nav_logo" class="w-32 lg:w-36 object-cover" src="{{logo}}" alt="">
            </a>
            <button id="nav_button"><i id="nav_button_icon" class="bi bi-list text-5xl text-[#113E21] md:hidden"></i></button>
        </div>

        <div id="nav_links" class="hidden w-full md:w-fit py-5">
            <ul class="flex flex-col justify-content-center items-center font-bold p-1 md:flex-row">
                <li class="w-full text-center py-3 px-6 rounded hover:bg-[#113E21] hover:text-white"><a href={% url 'store_index' %}>Products</a></li>
                <li class="w-full text-center py-3 px-6 rounded hover:bg-[#113E21] hover:text-white"><a href={% url 'services_index' %}>Services</a></li>
                <li class="w-full text-center py-3 px-6 rounded hover:bg-[#113E21] hover:text-white"><a href={% url 'adoption_index' %}>Adoption</a></li>
            </ul>
        </div>
    </nav>
</header>