{% extends 'layouts/base.html' %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        <div class="flex w-full h-fit p-10">
            <div class="w-1/2 border border-slate-500 flex flex-col gap-3 p-5">
                <div>
                    <label for="Username">Username</label>
                    {{signup_form.username}}
                    {{signup_form.username.errors}}
                </div>
                <div>
                    <label for="Email">Email</label>
                    {{signup_form.email}}
                </div>
                <div>
                    <label for="Password1">Password</label>
                    {{signup_form.password1}}
                    {{signup_form.password1.errors}}
                </div>
                <div>
                    <label for="Password2">Confirm Password</label>
                    {{signup_form.password2}}
                    {{signup_form.password2.errors}}
                </div>
            </div>


            <div class="w-1/2 border border-red-500">
                <div>
                    <label for="Name">Name</label>
                    {{customer_form.name}}
                    {{customer_form.name.errors}}
                </div>
                <div>
                    <label for="Last_name">Last name</label>
                    {{customer_form.last_name}}
                    {{customer_form.last_name.errors}}
                </div>
                <div>
                    <label for="Birth">Birth</label>
                    {{customer_form.birth}}
                    {{customer_form.birth.errors}}
                </div>
            </div>


        </div>


        {% if msg %}
            <span class="text-red-400">{{msg}}</span>
        {% endif %}
        <button class="btn border border-red-500" type="submit">SignUp</button>
    </form>

{% endblock content %}

